{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb-base",
        "plugin:@typescript-eslint/recommended",
        "prettier",
        "prettier/babel",
        "prettier/@typescript-eslint"
    ],
    "env": {
        "browser": true,
        "amd": true,
        "node": true,
        "mocha": true
    },
    "rules": {
        "import/prefer-default-export": 0,
        "no-use-before-define": 0,
        "no-plusplus": 0,
        "prefer-destructuring": 0,
        "no-underscore-dangle": 0,
        "class-methods-use-this": 0,
        "indent": [2, 4, { "SwitchCase": 1 }],
        "no-confusing-arrow": [2,{ "allowParens": true }],
        "no-console": 0,
        "no-alert": 0,
        "no-prototype-builtins": 0,
        "new-cap": 0,
        "max-len": 0,
        "eol-last": 0,
        "spaced-comment": 0,
        "prettier/prettier": "error",
        "@typescript-eslint/rule-name": "error"
    },
    "plugins": [
        "@typescript-eslint",
        "import",
        "prettier",
        "flowtype",
        "mocha"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    }
}